# High Peformance Pandas

```py 
mas = (x > .5) & (y < .5)
```

under the hood

```py
tmp1 = (x > .5)
tmp2 = (y < .5)
mask = tmp1 & tmp2
```

use pd-eval("") -> does elementwise operation with numexpr

In [2]:
import numpy as np
import pandas as pd

nrows, ncols = 1_000_000, 100

df1, df2, df3, df4 = [pd.DataFrame(np.random.randn(nrows, ncols)) for _ in range(4)]
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-0.585055,-2.368280,-0.115129,-1.278482,-0.974076,-0.435164,0.090267,-1.035177,0.358301,0.413951,...,0.136830,-1.047440,-0.821470,-1.561080,0.050820,0.455268,0.116223,-0.249548,1.419032,1.341423
1,-0.544257,-0.146889,-1.259888,0.807370,-1.484736,0.919345,1.718214,0.220799,0.385191,0.267850,...,-0.153982,-0.095705,0.754023,-0.057751,-0.515594,0.675933,-1.633857,-0.832121,2.524097,-0.231919
2,-0.515400,-0.680692,-0.072157,-1.126942,1.142276,-0.399018,0.001003,-1.688165,1.972923,0.223429,...,1.243879,0.365211,-0.891585,-0.415954,0.207921,-0.553110,-0.252764,-1.144265,2.484320,-0.826692
3,-0.376253,-0.404267,-0.494744,0.128273,0.170964,0.656004,1.877512,-0.565249,1.018832,-0.599219,...,0.322869,-0.615302,-0.483867,-1.066369,0.031197,1.870609,-0.102440,-0.098645,0.388918,-0.094107
4,0.194542,2.497993,-1.435187,-0.322757,-0.028249,1.138096,-0.986994,1.371615,-0.820940,-1.742777,...,2.209729,-0.902202,0.605895,0.283618,-0.397569,0.791918,0.501213,0.529692,0.320793,-0.481822

In [3]:
df1.shape

(1000000, 100)

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 100 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   0       1000000 non-null  float64
 1   1       1000000 non-null  float64
 2   2       1000000 non-null  float64
 3   3       1000000 non-null  float64
 4   4       1000000 non-null  float64
 5   5       1000000 non-null  float64
 6   6       1000000 non-null  float64
 7   7       1000000 non-null  float64
 8   8       1000000 non-null  float64
 9   9       1000000 non-null  float64
 10  10      1000000 non-null  float64
 11  11      1000000 non-null  float64
 12  12      1000000 non-null  float64
 13  13      1000000 non-null  float64
 14  14      1000000 non-null  float64
 15  15      1000000 non-null  float64
 16  16      1000000 non-null  float64
 17  17      1000000 non-null  float64
 18  18      1000000 non-null  float64
 19  19      1000000 non-null  float64
 20  20      1000000 non-null  float64
 21  21      1000000 non-null  float64
 22  22      1000000 non-null  float64
 23  23      1000000 non-null  float64
 24  24      1000000 non-null  float64
 25  25      1000000 non-null  float64
 26  26      1000000 non-null  float64
 27  27      1000000 non-null  float64
 28  28      1000000 non-null  float64
 29  29      1000000 non-null  float64
 30  30      1000000 non-null  float64
 31  31      1000000 non-null  float64
 32  32      1000000 non-null  float64
 33  33      1000000 non-null  float64
 34  34      1000000 non-null  float64
 35  35      1000000 non-null  float64
 36  36      1000000 non-null  float64
 37  37      1000000 non-null  float64
 38  38      1000000 non-null  float64
 39  39      1000000 non-null  float64
 40  40      1000000 non-null  float64
 41  41      1000000 non-null  float64
 42  42      1000000 non-null  float64
 43  43      1000000 non-null  float64
 44  44      1000000 non-null  float64
 45  45      1000000 non-null  float64
 46  46      1000000 non-null  float64
 47  47      1000000 non-null  float64
 48  48      1000000 non-null  float64
 49  49      1000000 non-null  float64
 50  50      1000000 non-null  float64
 51  51      1000000 non-null  float64
 52  52      1000000 non-null  float64
 53  53      1000000 non-null  float64
 54  54      1000000 non-null  float64
 55  55      1000000 non-null  float64
 56  56      1000000 non-null  float64
 57  57      1000000 non-null  float64
 58  58      1000000 non-null  float64
 59  59      1000000 non-null  float64
 60  60      1000000 non-null  float64
 61  61      1000000 non-null  float64
 62  62      1000000 non-null  float64
 63  63      1000000 non-null  float64
 64  64      1000000 non-null  float64
 65  65      1000000 non-null  float64
 66  66      1000000 non-null  float64
 67  67      1000000 non-null  float64
 68  68      1000000 non-null  float64
 69  69      1000000 non-null  float64
 70  70      1000000 non-null  float64
 71  71      1000000 non-null  float64
 72  72      1000000 non-null  float64
 73  73      1000000 non-null  float64
 74  74      1000000 non-null  float64
 75  75      1000000 non-null  float64
 76  76      1000000 non-null  float64
 77  77      1000000 non-null  float64
 78  78      1000000 non-null  float64
 79  79      1000000 non-null  float64
 80  80      1000000 non-null  float64
 81  81      1000000 non-null  float64
 82  82      1000000 non-null  float64
 83  83      1000000 non-null  float64
 84  84      1000000 non-null  float64
 85  85      1000000 non-null  float64
 86  86      1000000 non-null  float64
 87  87      1000000 non-null  float64
 88  88      1000000 non-null  float64
 89  89      1000000 non-null  float64
 90  90      1000000 non-null  float64
 91  91      1000000 non-null  float64
 92  92      1000000 non-null  float64
 93  93      1000000 non-null  float64
 94  94      1000000 non-null  float64
 95  95      1000000 non-null  float64
 96  96      1000000 non-null  float64
 97  97      1000000 non-null  float64
 98  98      1000000 non-null  float64
 99  99      1000000 non-null  float64
dtypes: float64(100)
memory usage: 762.9 MB

In [5]:
%timeit df1+df2+df3+df4

732 ms Â± 63.2 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [6]:
%timeit pd.eval("df1+df2+df3+df4")

828 ms Â± 34.1 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [7]:
standard = df1+df2+df3+df4
sum_eval = pd.eval("df1+df2+df3+df4")

sum_eval.equals(standard)

True

In [9]:
rolls = pd.DataFrame(np.random.randint(1,6, (6,3)), columns = ["Die1", "Die2", "Die3"])
rolls

   Die1  Die2  Die3
0     1     1     5
1     5     1     1
2     2     2     1
3     1     5     4
4     4     3     3
5     1     4     2

In [10]:
rolls.eval("Sum = Die1 + Die2 + Die3")

   Die1  Die2  Die3  Sum
0     1     1     5    7
1     5     1     1    7
2     2     2     1    5
3     1     5     4   10
4     4     3     3   10
5     1     4     2    7

In [ ]:
rolls.eval("Winner = Sum > @high")

In [ ]:
rolls[rolls["Sum"]]